<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Screen" type="AreaParty.util.config.MySection,AreaParty"/>
    <section name="AppInfo" type="AreaParty.util.config.AppMySection,AreaParty"/>
    <section name="GameInfo" type="AreaParty.util.config.GameMySection,AreaParty"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AreaParty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <Screen>
  </Screen>
  <AppInfo>
  </AppInfo>
  <GameInfo>
  </GameInfo>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="PairCode" value=""/>
    <add key="UserVideoConfig" value=""/>
    <add key="UserAudioConfig" value=""/>
    <add key="UserImageConfig" value=""/>
    <add key="VideoConfig" value="MediaLibrary\我的视频;"/>
    <add key="AudioConfig" value="MediaLibrary\我的音频;"/>
    <add key="ImageConfig" value="MediaLibrary\我的图片;"/>
    <add key="dlnaService" value="Service\DLNAService.jar"/>
    <add key="holeService" value="Service\clientPC.jar"/>
    <add key="keyboardService" value="Service\mouseandserver.jar"/>
    <add key="pcinfoService" value="Service\transferinformation.exe"/>
    <add key="iconfolder" value="icon"/>
    <add key="longconnect" value="false"/>
    <add key="naslongconnect" value="false"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="nasusername" value=""/>
    <add key="naspassword" value=""/>
    
    <add key="init" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <AreaParty.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </AreaParty.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
