<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="UserMediaConfig" value="G:\mediasLibrary;" />
    <add key="VideoConfig" value=".\MediaLibrary\PC视频;" />
    <add key="AudioConfig" value=".\MediaLibrary\PC音频;" />
    <add key="ImageConfig" value=".\MediaLibrary\PC图片;" />
    <add key="uwpUri" value="com.yi.myprojection:DoSomething?With=This" />
    <add key="TargetPackageFamilyName" value="06e0587e-3eeb-433c-a44a-b5145c6efc47_yrvdh1zv4g43y" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>